@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {


    
    footer {
        width: 100%;
        min-width: 750px;
        height: 47px;
        position: fixed;
        bottom: 0px;
        z-index: 6;
        text-align: center;
        background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.8);
    }

    #ts {
       margin-top: 10px;
    }

    html {overflow-x:hidden;
    }

    body {
        margin:0;
        padding:0;
        background-image: url(lucy1.jpg) ;
        background-size: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
    }

    #in {
        font-family: 'Raleway', sans-serif;
        color: #56fff3;
        letter-spacing: 6px;
        position: relative;
        top: 0;
        font-size: 15px;
        font-weight: 700;
        width: 400px;
        margin-bottom: 90px;
    }
    
    .center {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    #box {
        width: 294px;
    }

    .btnb {
        background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.50);
        border-color: #56fff3;
        margin: 0 auto;
        display: block;
        margin-top: 10px;
        font-family: 'Raleway', sans-serif;
        
        letter-spacing: 1px;
        line-height: 42px;
        padding: 0 14px 0 20px;
        color: #fff;
        opacity: 0.8;
        width: 116px;
        padding: 0 14px;


    }

    .btnb:hover {
        background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.8);
        border-color: #fff;
    }

    .socialcontent img {
        display: inline-block;
        margin-bottom: 5px;
        margin-right: 8px;
        vertical-align: middle;
    }

    .socialcontent {
        bottom: 0;
        position: fixed;
        z-index: 9;
    }

    
}





































































/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
        footer {
        width: 100%;
        min-width: 750px;
        height: 47px;
        position: fixed;
        bottom: 0px;
        z-index: 6;
        text-align: center;
        background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.8);
    }
    
    
    video#bg {
        min-width: 100%;
        min-height: 100%;
        position: absolute;
        overflow: hidden;
        display: inline-block;
        z-index: -100;
        margin: 0;
    
    }
    
    
    
    body, html {
        margin: 0px;
        padding: 0px;
        height: 100%;
        width: 100%;
        overflow: hidden; 
    }
    
    #title {
        height: 80px;
        margin-left: 20px;
        margin-top: 60px;
        width: 294px;
    }
    
    #in {
        font-family: 'Raleway', sans-serif;
        color: #56fff3;
        letter-spacing: 6px;
        position: relative;
        top: 0;
        font-size: 20px;
        font-weight: 700;
        width: 400px;
    }
    
    #lis {
        list-style: none;
        padding: 0;
    }
    
    #menu {
        margin-top: 100px;
        margin-left: 20px;
    }
}

































